<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>管理画面 - 作業記録アプリ</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= vite_client_tag %>
  <%= vite_typescript_tag 'application' %>

  <%= inertia_headers %>
</head>

<body>
  <%= yield %>
</body>
</html>
